<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 14">
<meta name=Originator content="Microsoft Word 14">
<link rel=File-List href="справка%20вызов%20бак.ВПОобн..files/filelist.xml">
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>Понамарева</o:Author>
  <o:Template>Normal</o:Template>
  <o:LastAuthor>alkar</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>542</o:TotalTime>
  <o:LastPrinted>2015-02-26T03:36:00Z</o:LastPrinted>
  <o:Created>2015-03-05T03:54:00Z</o:Created>
  <o:LastSaved>2015-03-05T03:54:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>561</o:Words>
  <o:Characters>3199</o:Characters>
  <o:Lines>26</o:Lines>
  <o:Paragraphs>7</o:Paragraphs>
  <o:CharactersWithSpaces>3753</o:CharactersWithSpaces>
  <o:Version>14.00</o:Version>
 </o:DocumentProperties>
 <o:OfficeDocumentSettings>
  <o:RelyOnVML/>
  <o:AllowPNG/>
 </o:OfficeDocumentSettings>
</xml><![endif]-->
<link rel=themeData href="справка%20вызов%20бак.ВПОобн..files/themedata.thmx">
<link rel=colorSchemeMapping
href="справка%20вызов%20бак.ВПОобн..files/colorschememapping.xml">
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:TrackMoves>false</w:TrackMoves>
  <w:TrackFormatting/>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>RU</w:LidThemeOther>
  <w:LidThemeAsian>X-NONE</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
   <w:SplitPgBreakAndParaMark/>
   <w:EnableOpenTypeKerning/>
   <w:DontFlipMirrorIndents/>
   <w:OverrideTableStyleHps/>
  </w:Compatibility>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"/>
   <m:brkBin m:val="before"/>
   <m:brkBinSub m:val="&#45;-"/>
   <m:smallFrac m:val="off"/>
   <m:dispDef/>
   <m:lMargin m:val="0"/>
   <m:rMargin m:val="0"/>
   <m:defJc m:val="centerGroup"/>
   <m:wrapIndent m:val="1440"/>
   <m:intLim m:val="subSup"/>
   <m:naryLim m:val="undOvr"/>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true"
  DefSemiHidden="true" DefQFormat="false" DefPriority="99"
  LatentStyleCount="267">
  <w:LsdException Locked="false" Priority="0" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Normal"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="heading 1"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 4"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 5"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 6"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 7"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 8"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 9"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 1"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 2"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 3"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 4"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 5"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 6"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 7"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 8"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 9"/>
  <w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"/>
  <w:LsdException Locked="false" Priority="10" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Title"/>
  <w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/>
  <w:LsdException Locked="false" Priority="11" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtitle"/>
  <w:LsdException Locked="false" Priority="22" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Strong"/>
  <w:LsdException Locked="false" Priority="20" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Emphasis"/>
  <w:LsdException Locked="false" Priority="59" SemiHidden="false"
   UnhideWhenUsed="false" Name="Table Grid"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Placeholder Text"/>
  <w:LsdException Locked="false" Priority="1" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="No Spacing"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 1"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 1"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Revision"/>
  <w:LsdException Locked="false" Priority="34" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="List Paragraph"/>
  <w:LsdException Locked="false" Priority="29" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Quote"/>
  <w:LsdException Locked="false" Priority="30" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Quote"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 1"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 1"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 2"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 2"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 2"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 3"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 3"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 3"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 4"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 4"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 4"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 5"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 5"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 5"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 6"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 6"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 6"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="19" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Emphasis"/>
  <w:LsdException Locked="false" Priority="21" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Emphasis"/>
  <w:LsdException Locked="false" Priority="31" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Reference"/>
  <w:LsdException Locked="false" Priority="32" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Reference"/>
  <w:LsdException Locked="false" Priority="33" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Book Title"/>
  <w:LsdException Locked="false" Priority="37" Name="Bibliography"/>
  <w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"/>
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;
	mso-font-charset:204;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-536870145 1073786111 1 0 415 0;}
@font-face
	{font-family:"Segoe UI";
	panose-1:2 11 5 2 4 2 4 2 2 3;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-format:other;
	mso-font-pitch:variable;
	mso-font-signature:3 0 0 0 1 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:10.0pt;
	margin-left:0cm;
	line-height:115%;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:EN-US;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-priority:99;
	mso-style-link:"Верхний колонтитул Знак";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	tab-stops:center 233.85pt right 467.75pt;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:EN-US;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-priority:99;
	mso-style-link:"Нижний колонтитул Знак";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	tab-stops:center 233.85pt right 467.75pt;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:EN-US;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-link:"Текст выноски Знак";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:9.0pt;
	font-family:"Segoe UI","sans-serif";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;
	mso-bidi-font-family:"Segoe UI";
	mso-fareast-language:EN-US;}
span.a
	{mso-style-name:"Верхний колонтитул Знак";
	mso-style-priority:99;
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:"Верхний колонтитул";}
span.a0
	{mso-style-name:"Нижний колонтитул Знак";
	mso-style-priority:99;
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:"Нижний колонтитул";}
span.a1
	{mso-style-name:"Текст выноски Знак";
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:"Текст выноски";
	mso-ansi-font-size:9.0pt;
	mso-bidi-font-size:9.0pt;
	font-family:"Segoe UI","sans-serif";
	mso-ascii-font-family:"Segoe UI";
	mso-hansi-font-family:"Segoe UI";
	mso-bidi-font-family:"Segoe UI";}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:EN-US;}
.MsoPapDefault
	{mso-style-type:export-only;
	margin-bottom:10.0pt;
	line-height:115%;}
 /* Page Definitions */
 @page
	{mso-footnote-separator:url("справка%20вызов%20бак.ВПОобн..files/header.htm") fs;
	mso-footnote-continuation-separator:url("справка%20вызов%20бак.ВПОобн..files/header.htm") fcs;
	mso-endnote-separator:url("справка%20вызов%20бак.ВПОобн..files/header.htm") es;
	mso-endnote-continuation-separator:url("справка%20вызов%20бак.ВПОобн..files/header.htm") ecs;}
@page WordSection1
	{size:21.0cm 841.95pt;
	margin:14.2pt 1.0cm 1.0cm 2.0cm;
	mso-header-margin:14.2pt;
	mso-footer-margin:19.85pt;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Обычная таблица";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-parent:"";
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-para-margin-top:0cm;
	mso-para-margin-right:0cm;
	mso-para-margin-bottom:10.0pt;
	mso-para-margin-left:0cm;
	line-height:115%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-fareast-language:EN-US;}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2049"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=RU style='tab-interval:35.4pt'>

<div class=WordSection1 style='width:760px;'>

<p class=MsoNormal align=right style='margin-top:0cm;margin-right:0cm;
margin-bottom:6.0pt;text-align:right;text-indent:-68.05pt;
line-height:normal;text-autospace:none'><span class=GramE><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'>УТВЕРЖДЕНА</span></span><span style='font-size:7.0pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
mso-fareast-language:RU'><br>
приказом Министерства образования и науки Российской Федерации<br>
от 19 декабря 2013 г. № 1368<o:p></o:p></span></p>

<p class=MsoNormal align=right style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:382.75pt;margin-bottom:.0001pt;text-align:right;
text-indent:-68.05pt;line-height:normal;text-autospace:none'><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'>ФОРМА<o:p></o:p></span></p>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none'><b><span
style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>СПРАВКА-ВЫЗОВ<o:p></o:p></span></b></p>

<div align=center>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;mso-padding-alt:0cm 1.4pt 0cm 1.4pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
  <td width=34 valign=bottom style='width:25.5pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=right style='margin-top:0cm;margin-right:-.1pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;text-autospace:none'><b><span style='font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'>от “<o:p></o:p></span></b></p>
  </td>
  <td width=30 valign=bottom style='width:22.7pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-top:0cm;margin-right:-.1pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;text-autospace:none'><b><span style='font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'><o:p>%dd%</o:p></span></b></p>
  </td>
  <td width=19 valign=bottom style='width:14.2pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-top:0cm;margin-right:-.1pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;text-autospace:
  none'><b><span style='font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'>”<o:p></o:p></span></b></p>
  </td>
  <td width=113 valign=bottom style='width:3.0cm;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-top:0cm;margin-right:-.1pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;text-autospace:none'><b><span style='font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'><o:p>%dm%</o:p></span></b></p>
  </td>
  <td width=28 valign=bottom style='width:21.3pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=right style='margin-top:0cm;margin-right:-.1pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;text-autospace:none'><b><span style='font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'>20<o:p></o:p></span></b></p>
  </td>
  <td width=26 valign=bottom style='width:19.85pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-top:0cm;margin-right:-.1pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;text-autospace:
  none'><b><span style='font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'><o:p> %dg%</o:p></span></b></p>
  </td>
  <td width=45 valign=bottom style='width:34.0pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-top:0cm;margin-right:-.1pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;text-autospace:none'><span class=GramE><b><span
  style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>г</span></b></span><b><span
  style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>. №<o:p></o:p></span></b></p>
  </td>
  <td width=57 valign=bottom style='width:42.55pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-top:0cm;margin-right:-.1pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;text-autospace:none'><b><span style='font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'><o:p>%maxnom%</o:p></span></b></p>
  </td>
  <td width=15 valign=bottom style='width:11.35pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-top:0cm;margin-right:-.1pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;text-autospace:
  none'><b><span style='font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'>,<o:p></o:p></span></b></p>
  </td>
 </tr>
</table>

</div>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none'><span class=GramE><b><span
style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>дающая</span></b></span><b><span
style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'> право на
предоставление гарантий и компенсаций работникам,<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none'><b><span
style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'><span
style='mso-spacerun:yes'> </span><span class=GramE>совмещающим работу с
получением образования</span><o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-top:8.0pt;margin-right:0cm;margin-bottom:0cm;
margin-left:0cm;margin-bottom:.0001pt;line-height:normal;text-autospace:none'><span
style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>Работодателю <span
style='mso-spacerun:yes'> </span></span><span style='font-size:11.5pt;
font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU;margin-left:20px;'><o:p>%rabotodatel%</o:p></span></p>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm;margin-left:
79.0pt;margin-right:0cm'>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none;border:none;
mso-border-top-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'>полное наименование организации-работодателя/фамилия, имя, отчество<o:p></o:p></span></p>

</div>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'><i style='mso-bidi-font-style:normal'><span
style='font-size:11.5pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'><span style='mso-spacerun:yes'> </span></span></i><span style='font-size:
12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'><o:p>%rab2%</o:p></span></p>
<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm;margin-left:
0cm;margin-right:5.65pt'>

<p class=MsoNormal align=center style='margin-bottom:6.0pt;text-align:center;
line-height:normal;text-autospace:none;border:none;mso-border-top-alt:solid windowtext .5pt;
padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span style='font-size:7.0pt;
font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>работодателя – физического лица<o:p></o:p></span></p>

</div>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;tab-stops:right 18.0cm;text-autospace:none'><span
style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>В соответствии со статьей <u><span style='mso-spacerun:yes'>        </span><span
style='mso-spacerun:yes'>          </span><span
style='mso-spacerun:yes'>     </span><span style='mso-spacerun:yes'>    </span><span
style='mso-spacerun:yes'> </span>173<span style='mso-spacerun:yes'>     </span><span
style='mso-spacerun:yes'>      </span><span
style='mso-spacerun:yes'>            </span><span
style='mso-spacerun:yes'>        </span></u><span
style='mso-spacerun:yes'> </span>Трудового кодекса Российской Федерации<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;tab-stops:right 18.0cm;text-autospace:none'><span
style='font-size:9.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'><span
style='mso-spacerun:yes'>                                                                 
</span>173/173.1/174/176 (указать нужное)</span><span style='font-size:5.0pt;
font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:center;margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;tab-stops:right 510.25pt;text-autospace:none'><span style='font-size:
12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'><span
style='mso-tab-count:1'> %name% </span>,<o:p></o:p></span></p>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm;margin-left:
0cm;margin-right:5.65pt'>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none;border:none;
mso-border-top-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'>фамилия, имя, отчество (в дательном падеже)<o:p></o:p></span></p>

</div>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;text-autospace:none'><span style='font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
mso-fareast-language:RU'>допущенному<span style='mso-spacerun:yes'>      
</span><span style='mso-spacerun:yes'> </span>к<span
style='mso-spacerun:yes'>      </span><span style='mso-spacerun:yes'> </span><span
style='mso-spacerun:yes'> </span>вступительным<span
style='mso-spacerun:yes'>    </span><span
style='mso-spacerun:yes'> </span>испытаниям<span style='mso-spacerun:yes'>   
</span>/<span style='mso-spacerun:yes'>    </span>слушателю <span
style='mso-spacerun:yes'>    </span>подготовительного <span
style='mso-spacerun:yes'>       </span>отделения<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;text-autospace:none'><span style='font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
mso-fareast-language:RU'><span style='mso-spacerun:yes'> </span>образовательной<span
style='mso-spacerun:yes'>    </span><span
style='mso-spacerun:yes'> </span>организации<span style='mso-spacerun:yes'>  
</span><span style='mso-spacerun:yes'> </span><span
style='mso-spacerun:yes'> </span>высшего <span
style='mso-spacerun:yes'>  </span>образования<span style='mso-spacerun:yes'>  
</span>/<span style='mso-spacerun:yes'>   </span><span class=GramE><u>обучающемуся</u></span>
<span style='mso-spacerun:yes'> </span><span style='mso-spacerun:yes'> </span><span
style='mso-spacerun:yes'> </span>(подчеркнуть<span style='mso-spacerun:yes'> 
</span><span style='mso-spacerun:yes'> </span>нужное) <span
style='mso-spacerun:yes'>   </span>по<o:p></o:p></span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;mso-padding-alt:0cm 1.4pt 0cm 1.4pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width=291 valign=bottom style='width:218.3pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>заочной<o:p></o:p></span></p>
  </td>
  <td width=144 valign=bottom style='width:107.75pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>форме обучения <span
  class=GramE>на</span><o:p></o:p></span></p>
  </td>
  <td width=200 valign=bottom style='width:150.25pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'><o:p>%kurs%</o:p></span></p>
  </td>
  <td width=60 valign=bottom style='width:45.35pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:2.85pt;margin-bottom:.0001pt;line-height:normal;text-autospace:
  none'><span class=GramE><span style='font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'>курсе</span></span><span style='font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'>,<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
  <td width=291 valign=top style='width:218.3pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'>очной/очно-заочной/заочной (указать нужное)<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:107.75pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:10.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=200 valign=top style='width:150.25pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:10.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=60 valign=top style='width:45.35pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:10.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'><span style='font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
mso-fareast-language:RU'>предоставляются гарантии и компенсации <span
class=GramE>для</span><span style='mso-spacerun:yes'>  </span><span
style='padding-left:100px;'> %deystv%  </span><o:p></o:p></span></p>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm;margin-left:
244.6pt;margin-right:0cm'>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none;border:none;
mso-border-top-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'>прохождения вступительных испытаний/ промежуточной аттестации<o:p></o:p></span></p>

</div>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'><span style='font-size:7.0pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
mso-fareast-language:RU'><o:p>&nbsp;</o:p></span></p>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm'>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none;border:none;
mso-border-top-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'>/государственной итоговой аттестации/итоговой аттестации/ подготовки и
защиты выпускной квалификационной работы и/<o:p></o:p></span></p>

</div>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'><span style='font-size:8.0pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
mso-fareast-language:RU'><o:p>&nbsp;</o:p></span></p>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm'>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none;border:none;
mso-border-top-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'>/или сдачи итоговых государственных экзаменов (указать нужное)<o:p></o:p></span></p>

</div>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=684
 style='width:513.2pt;border-collapse:collapse;mso-padding-alt:0cm 1.4pt 0cm 1.4pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width=15 valign=bottom style='width:11.35pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal;text-autospace:none'><span style='font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'>с <o:p></o:p></span></p>
  </td>
  <td width=321 valign=bottom style='width:241.0pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><i
  style='mso-bidi-font-style:normal'><span style='font-size:11.5pt;font-family:
  "Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'><o:p>%data1%</o:p></span></i></p>
  </td>
  <td width=26 valign=bottom style='width:19.85pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>по<o:p></o:p></span></p>
  </td>
  <td width=321 valign=bottom style='width:241.0pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><i
  style='mso-bidi-font-style:normal'><span style='font-size:11.5pt;font-family:
  "Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'><o:p>%data2%</o:p></span></i></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
  <td width=15 valign=top style='width:11.35pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal;text-autospace:none'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=321 valign=top style='width:241.0pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'>число, месяц, год<o:p></o:p></span></p>
  </td>
  <td width=26 valign=top style='width:19.85pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:10.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=321 valign=top style='width:241.0pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'>число, месяц, год<o:p></o:p></span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'><span style='font-size:1.0pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
mso-fareast-language:RU'><o:p>&nbsp;</o:p></span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;mso-padding-alt:0cm 1.4pt 0cm 1.4pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width=157 valign=bottom style='width:117.65pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal;text-autospace:none'><span style='font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'>продолжительностью<o:p></o:p></span></p>
  </td>
  <td width=170 valign=bottom style='width:127.6pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><i
  style='mso-bidi-font-style:normal'><span style='font-size:11.5pt;font-family:
  "Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'><o:p>%difdat%</o:p></span></i></p>
  </td>
  <td width=355 valign=bottom style='width:266.45pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:2.85pt;margin-bottom:.0001pt;line-height:normal;text-autospace:
  none'><span style='font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'>календарных дней.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
  <td width=682 colspan=3 valign=top style='width:511.7pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal;text-autospace:none'><span style='font-size:8.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'><span
  style='mso-spacerun:yes'>                                                                              
  </span>(количество)<o:p></o:p></span></p>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal;text-autospace:none'><span style='font-family:
  "Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>Федеральное государственное бюджетное образовательное учреждение высшего образования<span
  style='mso-spacerun:yes'></span> «Сибирский<o:p></o:p></span></p>
  </td>
 </tr>
</table>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm'>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none;border:none;
mso-border-top-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'>полное наименование организации,<o:p></o:p></span></p>

</div>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none'><span
style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>государственный университет телекоммуникаций
и информатики» Хабаровский институт инфокоммуникаций (филиал)<o:p></o:p></span></p>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm'>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none;border:none;
mso-border-top-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span
class=GramE><span style='font-size:7.0pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
mso-fareast-language:RU'>осуществляющей</span></span><span style='font-size:
7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'> образовательную
деятельность<o:p></o:p></span></p>

</div>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;text-autospace:none'><span style='font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
mso-fareast-language:RU'>имеет<span style='mso-spacerun:yes'>                  
</span><span style='mso-spacerun:yes'> </span>свидетельство<span
style='mso-spacerun:yes'>               </span><span
style='mso-spacerun:yes'> </span>о<span style='mso-spacerun:yes'>           
</span><span style='mso-spacerun:yes'> </span>государственной<span
style='mso-spacerun:yes'>              </span><span
style='mso-spacerun:yes'> </span>аккредитации, <span
style='mso-spacerun:yes'>              </span>выданное<o:p></o:p></span></p>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none'><span
style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>федеральной
службой по надзору в сфере образования и науки<o:p></o:p></span></p>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm'>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none;border:none;
mso-border-top-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'>наименование <span class=SpellE>аккредитационного</span> органа, выдавшего
свидетельство о государственной аккредитации,<o:p></o:p></span></p>

</div>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none'><span
style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>свидетельство
серия 90АО1 № 0001885, регистрационный № 1792 от 28.03.2016г<o:p></o:p></span></p>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm'>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none;border:none;
mso-border-top-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'>реквизиты свидетельства о государственной аккредитации<o:p></o:p></span></p>

</div>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;tab-stops:right 18.0cm;text-autospace:
none'><span style='font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'>по образовательной программе<span style='mso-spacerun:yes'>  </span><span
style='mso-spacerun:yes'>                                                      </span>высшего<span
style='mso-tab-count:1'>                           </span>образования</span><span
style='font-size:10.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'><o:p></o:p></span></p>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm;margin-left:
166.4pt;margin-right:56.65pt'>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none;border:none;
mso-border-top-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'>основного общего/среднего общего/среднего профессионального/высшего
(указать <span class=GramE>нужное</span>)<o:p></o:p></span></p>

</div>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;page-break-after:avoid;text-autospace:none'><span style='font-family:
"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:
minor-fareast;mso-fareast-language:RU'>по профессии/специальности/направлению
подготовки <span style='mso-spacerun:yes'> </span><span
style='mso-spacerun:yes'>        </span> %kod_spec% <span
style='mso-spacerun:yes'> </span>%nazv_spec1%<o:p></o:p></span></p>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm;margin-left:
289.15pt;margin-right:0cm'>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;page-break-after:avoid;text-autospace:
none;border:none;mso-border-top-alt:solid windowtext .5pt;padding:0cm;
mso-padding-alt:1.0pt 0cm 0cm 0cm'><span style='font-size:7.0pt;font-family:
"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:
minor-fareast;mso-fareast-language:RU'>код и наименование профессии/<o:p></o:p></span></p>

</div>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;page-break-after:avoid;tab-stops:right 18.0cm;text-autospace:none'><span
style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'><span style='mso-spacerun:yes'>         </span> %nazv_spec2%<span
style='mso-tab-count:1'>   </span>*.<o:p></o:p></span></p>
<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm;margin-left:
0cm;margin-right:12.75pt'>

<p class=MsoNormal align=center style='margin-bottom:12.0pt;text-align:center;
line-height:normal;text-autospace:none;border:none;mso-border-top-alt:solid windowtext .5pt;
padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span style='font-size:7.0pt;
font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>специальности/направления
подготовки (указать <span class=GramE>нужное</span>)<o:p></o:p></span></p>

</div>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;mso-padding-alt:0cm 1.4pt 0cm 1.4pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width=265 valign=bottom style='width:7.0cm;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal;text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'>И.О. директора <o:p></o:p></span></p>
  </td>
  <td width=136 valign=bottom style='width:102.05pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=19 valign=bottom style='width:14.15pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal;text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=265 valign=bottom style='width:7.0cm;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>Евгений Николаевич Доброквашин<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
  <td width=265 valign=top style='width:7.0cm;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:155.95pt;margin-bottom:.0001pt;line-height:normal;text-autospace:
  none'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'>М.П.<o:p></o:p></span></p>
  </td>
  <td width=136 valign=top style='width:102.05pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'>подпись<o:p></o:p></span></p>
  </td>
  <td width=19 valign=top style='width:14.15pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:10.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=265 valign=top style='width:7.0cm;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'>фамилия, имя, отчество<o:p></o:p></span></p>
  </td>
 </tr>
</table>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm;margin-left:
0cm;margin-right:325.95pt'>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none;border:none;mso-border-top-alt:solid windowtext .5pt;
padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span style='font-size:1.0pt;
font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'><o:p>&nbsp;</o:p></span></p>

</div>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;text-indent:1.0cm;line-height:normal;text-autospace:none'><a
name=Par58></a><span style='font-size:7.0pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
mso-fareast-language:RU'>*&nbsp;Не заполняется для работников, допущенных к
вступительным испытаниям; работников, являющихся слушателями подготовительных
отделений образовательных организаций высшего образования; работников,
осваивающих программы подготовки кадров высшей квалификации; <span class=GramE>работников,
совмещающих работу с обучением по не имеющим государственной аккредитации
программам <span class=SpellE>бакалавриата</span>, программам <span
class=SpellE>специалитета</span>, программам магистратуры, образовательным
программам среднего профессионального образования, а также для работников,
совмещающих работу с освоением не имеющих государственной аккредитации
образовательных программ основного общего или среднего общего образования по
очно-заочной форме обучения.</span><o:p></o:p></span></p>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm'>

<p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;line-height:normal;text-autospace:none;border:none;
mso-border-top-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span
class=GramE><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
mso-fareast-language:RU'>л</span></span><span style='font-size:10.0pt;
font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>иния отрыва<o:p></o:p></span></p>

</div>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none;text-align:center;'><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
mso-fareast-language:RU'><o:p>%fio2%</o:p></span></p>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.5pt;
padding:1.0pt 0cm 0cm 0cm'>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none;border:none;
mso-border-top-alt:solid windowtext 1.5pt;padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'>фамилия, имя, отчество<o:p></o:p></span></p>

</div>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'><span style='font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
mso-fareast-language:RU'>находился в<span style='mso-spacerun:yes'>  </span><span
style='mso-spacerun:yes'>      </span>
Федеральном государственном бюджетном образовательном учреждении высшего образования «Сибирский
 <o:p></o:p></span></p>

<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm;margin-left:
68.5pt;margin-right:0cm'>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none;border:none;
mso-border-top-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'>полное наименование организации,<o:p></o:p></span></p>

</div>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none'><span
style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>государственный
университет телекоммуникаций и информатики» Хабаровский институт инфокоммуникаций (филиал)<o:p></o:p></span></p>


<div style='mso-element:para-border-div;border:none;border-top:solid windowtext 1.0pt;
mso-border-top-alt:solid windowtext .5pt;padding:1.0pt 0cm 0cm 0cm'>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;text-autospace:none;border:none;
mso-border-top-alt:solid windowtext .5pt;padding:0cm;mso-padding-alt:1.0pt 0cm 0cm 0cm'><span
class=GramE><span style='font-size:7.0pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
mso-fareast-language:RU'>осуществляющей</span></span><span style='font-size:
7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'> образовательную
деятельность (в предложном падеже)<o:p></o:p></span></p>

</div>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;mso-padding-alt:0cm 1.4pt 0cm 1.4pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width=15 valign=bottom style='width:11.35pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal;text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'>с<o:p></o:p></span></p>
  </td>
  <td width=189 valign=bottom style='width:5.0cm;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'><o:p>%real_from%</o:p></span></p>
  </td>
  <td width=30 valign=bottom style='width:22.7pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'>по<o:p></o:p></span></p>
  </td>
  <td width=189 valign=bottom style='width:5.0cm;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'><o:p>%real_to%</o:p></span></p>
  </td>
  <td width=19 valign=bottom style='width:14.2pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal;text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'>.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
  <td width=15 valign=top style='width:11.35pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal;text-autospace:none'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=189 valign=top style='width:5.0cm;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'>число, месяц, год<o:p></o:p></span></p>
  </td>
  <td width=30 valign=top style='width:22.7pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal;text-autospace:none'><span style='font-size:7.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=189 valign=top style='width:5.0cm;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'>число, месяц, год<o:p></o:p></span></p>
  </td>
  <td width=19 valign=top style='width:14.2pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal;text-autospace:none'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-top:2.0pt;margin-right:0cm;margin-bottom:0cm;
margin-left:0cm;margin-bottom:.0001pt;line-height:normal;text-autospace:none'><span
style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
RU'><o:p>&nbsp;</o:p></span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=684
 style='width:513.1pt;border-collapse:collapse;mso-padding-alt:0cm 1.4pt 0cm 1.4pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width=265 valign=bottom style='width:7.0cm;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal;text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'>И.О. директора<o:p></o:p></span></p>
  </td>
  <td width=136 valign=bottom style='width:102.05pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=19 valign=bottom style='width:14.15pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal;text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=265 valign=bottom style='width:7.0cm;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  mso-fareast-theme-font:minor-fareast;mso-fareast-language:RU'>Евгений Николаевич Доброквашин </span><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
  <td width=265 valign=top style='width:7.0cm;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:155.95pt;margin-bottom:.0001pt;line-height:normal;text-autospace:
  none'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-fareast-language:RU'>М.П.<o:p></o:p></span></p>
  </td>
  <td width=136 valign=top style='width:102.05pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'>подпись<o:p></o:p></span></p>
  </td>
  <td width=19 valign=top style='width:14.15pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=265 valign=top style='width:7.0cm;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;text-autospace:none'><span
  style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";mso-fareast-theme-font:minor-fareast;mso-fareast-language:
  RU'>фамилия, имя, отчество<o:p></o:p></span></p>
  </td>
 </tr>
</table>
<!--<hr>
<img style='float:right;' src='http://tvpo.hiik.ru/other/kurs/test_1D.php?test=hiik'>
 <p class=MsoNormal align=right style='margin-top:0cm;margin-right:0cm;
margin-bottom:6.0pt;margin-left:382.75pt;text-align:right;text-indent:-68.05pt;
line-height:normal;text-autospace:none'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
-->

</div>

</body>

</html>
